#content {
  padding: 0;
  justify-content: flex-start;
  overflow-y: auto;

  @media (min-width: 768px) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: var(--pink-shadow);
    max-height: 97vh;
    max-width: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateY(3vh);
  }
}

.price {
  color: var(--hot-pink);
  font-family: Courier New;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.03em;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px 12px;
  width: 100%;

  @media (min-width: 768px) {
    padding: 25px 30px 50px;
  }
}

.row:nth-of-type(1) {
  background-color: var(--yellow);
}

.row:nth-of-type(2) {
  background-color: var(--green);
}

.row:nth-of-type(3) {
  background-color: var(--blue);
}

.row:nth-of-type(4) {
  background-color: var(--purple);
}

.heart {
  cursor: pointer;
  margin: 10px;
  width: 85px;
}

.heartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 436px;
}
