.wrapper {
  align-items: center;
  background-color: rgba(0 0 0 / 0.3);
  bottom: 0;
  display: flex;
  font-family: monospace;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.innerWrapper {
  align-self: center;
  background-color: rgb(255 255 255);
  border-radius: 20px;
  border: 1px solid rgb(247 248 250);
  box-shadow: 0px 0px 30px 5px rgba(250 15 149 / 0.2);
  display: flex;
  flex-direction: column;
  margin: 0px 0px 2rem;
  max-height: 90vh;
  max-width: 420px;
  overflow: hidden auto;
  padding: 1em;
  width: 50vw;
}

.header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-weight: 500;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
  justify-content: space-between;
  letter-spacing: 1px;
}

.closeIcon {
  cursor: pointer;
  font-size: 1.3em;
  padding: 0.25em;

  &:hover {
    color: var(--hot-pink);
  }
}

.connectorRow {
  align-items: center;
  border-radius: 12px;
  border: none;
  color: var(--hot-pink);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-weight: 500;
  justify-content: space-between;
  letter-spacing: 1px;
  margin-top: 1.5em;
  outline: currentcolor none medium;
  padding: 1em;
  text-transform: uppercase;
  transition: background-color 200ms ease;
  width: 100% !important;

  &:hover {
    box-shadow: rgba(47 128 237 / 0.15) 0px 4px 8px 0px;
  }

  &:nth-of-type(1) {
    background-color: hsla(30 100% 80% / 0.8);


    &:hover {
      background-color: hsla(30 100% 80% / 1);
    }
  }

  &:nth-of-type(2) {
    background-color: hsla(145 100% 82% / 0.8);


    &:hover {
      background-color: hsla(145 100% 82% / 1);
    }
  }

  &:nth-of-type(3) {
    background-color: hsla(199 100% 82% / 0.8);


    &:hover {
      background-color: hsla(199 100% 82% / 1);
    }
  }
}

.modalTitle {
  margin: 0;
}