.wrapper {
  align-items: center;
  background-color: var(--purple);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  overflow: hidden;
  padding-top: 30%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.addressInput {
  border-radius: 20px;
  border: none;
  border: 1px solid transparent;

  font-family: monospace;
  font-size: 24px;
  font-weight: 700;
  height: 60px;
  letter-spacing: 1px;
  padding: 1em;
  width: 80%;
  transition: 200ms ease all;

  &:focus {
    border: 1px solid var(--hot-pink);
    box-shadow: rgba(47 128 237 / 0.15) 0px 4px 8px 0px;
    color: var(--hot-pink);
    outline: none;
  }
}

.error {
  border: 2px solid red;
  color: red;
  box-shadow: rgba(237, 47, 47, 0.15) 0px 4px 8px 0px;
}

.saveAddressButton {
  background-color: hsla(0 0% 0% / 0.15);
  border-radius: 16px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  font-family: monospace;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 30px;
  padding: 18px 87px;
  transition: 200ms ease all;

  &:hover,
  &:focus {
    background-color: var(--purple);
    border: 1px solid var(--hot-pink);
    box-shadow: rgba(47 128 237 / 0.15) 0px 4px 8px 0px;
    color: var(--hot-pink);
    outline: none;
  }
}