:root {
  --orange: #ffcc99;
  --blue: #a2e2ff;
  --green: #a4ffca;
  --pink: #ffc9df;
  --purple: #dab5ff;
  --yellow: #fff6ae;
  --white: #ffffff;
  --hot-pink: #fa0f95;
  --rainbow: radial-gradient(
    142.75% 65.98% at 50% 50%,
    #ffb9b9 0%,
    #fff7ad 26.04%,
    #97fff3 54.17%,
    #cfbcff 77.08%,
    #ffb9b9 100%
  );

  --pink-shadow: 0px 0px 30px 5px rgba(250, 15, 149, 0.2);
}

html,
body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: Courier New, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
