:root {
  --blue: #a2e2ff;
  --green: #a4ffca;
  --hot-pink: #fa0f95;
  --light-pink: #ffdbdb;
  --orange: #ffcc99;
  --pink: #ffc9df;
  --purple: #dab5ff;
  --white: #ffffff;
  --black: #000;
  --yellow: #fff6ae;
  --pink-shadow: 0px 0px 30px 5px hsla(326 96% 52% / 0.2);
  --rainbow: radial-gradient(
    142.75% 65.98% at 50% 50%,
    #ffb9b9 0%,
    #fff7ad 26.04%,
    #97fff3 54.17%,
    #cfbcff 77.08%,
    #ffb9b9 100%
  );
}

html,
body {
  color: black;
  font-family: monospace;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
