.main {
  background-color: var(--light-pink);
}

.wrapper {
  align-items: center;
  background: hsla(0, 100%, 93%, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  overflow: hidden;
}

.innerWrapper {
  margin-top: 32px;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
}

$offset: 69px;

.heartRow:nth-of-type(1) {
  transform: translateX($offset * -1);
}

.heartRow:nth-of-type(3) {
  transform: translateX($offset * -2);
}

.titleRow {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  width: 117px;
  margin: 0 13.5px;
}
