.wrapper {
  background-color: var(--pink);
  padding: 40px 20px 0;

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 1em 0;

    &:last-of-type {
      margin: 0;
    }
  }
}

.link {
  color: var(--hot-pink);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.mintButton {
  align-items: center;
  background-color: var(--hot-pink);
  border: 1px solid transparent;
  border-radius: 16px;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 23px;
  font-style: normal;
  font-weight: bold;
  height: 60px;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 1.5em auto;
  padding: 18px 20px;
  width: 320px;
  transition: 200ms ease all;

  &:hover,
  &:focus {
    border: 1px solid var(--hot-pink);
    background-color: transparent;
    box-shadow: rgba(47 128 237 / 0.15) 0px 4px 8px 0px;
    color: var(--hot-pink);
    outline: none;
  }

  &:disabled {
    background-color: hsla(326 96% 52% / 0.15);
  }
}