.main {
  background-color: var(--pink);
}

.wrapper {
  padding: 40px 20px 0;

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 1em 0;

    &:last-of-type {
      margin: 0;
    }
  }
}

.link {
  color: var(--hot-pink);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.mintButton {
  align-items: center;
  background-color: var(--hot-pink);
  border: 1px solid transparent;
  border-radius: 16px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 23px;
  font-style: normal;
  font-weight: bold;
  height: 60px;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 1.5em auto;
  padding: 18px 20px;
  width: 320px;
  transition: 200ms ease all;

  &:hover,
  &:focus {
    border: 1px solid var(--hot-pink);
    background-color: transparent;
    box-shadow: rgba(47 128 237 / 0.15) 0px 4px 8px 0px;
    color: var(--hot-pink);
    outline: none;
  }

  &:disabled {
    background-color: hsla(326 96% 52% / 0.15);
    color: var(--white);
    cursor: not-allowed;
    border: 1px solid transparent;
    box-shadow: unset;
    outline: none;
  }
}

.pendingButton {}

.pendingLayout {
  background: radial-gradient(142.75% 65.98% at 50% 50%, #FFB9B9 0%, #FFF7AD 26.04%, #97FFF3 54.17%, #CFBCFF 77.08%, #FFB9B9 100%);
}

.completeLayout {
  background: radial-gradient(303.3% 122.89% at 50% 50%, #FFB9B9 0%, #FFF7AD 26.04%, #97FFF3 54.17%, #CFBCFF 77.08%, #FFB9B9 100%);
}

.blackButton {
  align-items: center;
  background-color: var(--black);
  border: 1px solid transparent;
  border-radius: 16px;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 23px;
  font-style: normal;
  font-weight: bold;
  height: 60px;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 1.5em auto;
  padding: 18px 20px;
  width: 320px;
  transition: 200ms ease all;

  &:hover,
  &:focus {
    border: 1px solid var(--hot-pink);
    background-color: transparent;
    box-shadow: rgba(47 128 237 / 0.15) 0px 4px 8px 0px;
    color: var(--hot-pink);
    outline: none;
  }
}

.heartsWrapper{
  position: relative;
  width: 335px;;
  height: 402px;
  margin: auto;
}

.sendToHeart{
  position: absolute;
  width: 146px;
  height: 136.27px;
  left: 98px;
  top: 128px;
  transform: rotate(-7.74deg);
}

.sendFromHeart{
  position: absolute;
  width: 146px;
  height: 136.27px;
  left: 0px;
  top: 26px;
  transform: rotate(13.4deg);
}

.heart1{
  position: absolute;
  width: 146px;
  height: 136.27px;
  left: 182px;
  transform: rotate(-13.19deg);
}

.heart2{
  position: absolute;
  width: 146px;
  height: 136.27px;
  left: 5px;
  top: 235px;
  transform: rotate(10.15deg);
}

.heart3{
  position: absolute;
  width: 146px;
  height: 136.27px;
  left: 188px;
  top: 246px;
  transform: rotate(-21.87deg);
}