.main {
  background-color: var(--light-pink);
}

.wrapper {
  max-width: 791px;
  margin: 100px auto 0 auto;
  width: 95%;

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 1em 0;

    &:last-of-type {
      margin: 0;
    }
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(auto-fill, 160px);
    column-gap: 30px;
    row-gap: 1em;

    p {
      grid-column: 1 / 2;
    }

    div {
      grid-column: 2 / 3;
    }
  }
}

.link {
  color: var(--hot-pink);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.mintButton {
  align-items: center;
  background-color: var(--hot-pink);
  border-radius: 16px;
  border: 1px solid transparent;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  height: 60px;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 1.5em auto;
  padding: 18px 20px;
  transition: 200ms ease all;
  width: 320px;

  &:hover,
  &:focus {
    background-color: transparent;
    border: 1px solid var(--hot-pink);
    box-shadow: rgba(47 128 237 / 0.15) 0px 4px 8px 0px;
    color: var(--hot-pink);
    outline: none;
  }

  &:disabled {
    background-color: hsla(326 96% 52% / 0.15);
    border: 1px solid transparent;
    box-shadow: unset;
    color: var(--white);
    cursor: not-allowed;
    outline: none;
  }
}

.pendingButton {
}

.pendingLayout {
  background: radial-gradient(
    142.75% 65.98% at 50% 50%,
    #ffb9b9 0%,
    #fff7ad 26.04%,
    #97fff3 54.17%,
    #cfbcff 77.08%,
    #ffb9b9 100%
  );
}

.completeLayout {
  background: radial-gradient(
    303.3% 122.89% at 50% 50%,
    #ffb9b9 0%,
    #fff7ad 26.04%,
    #97fff3 54.17%,
    #cfbcff 77.08%,
    #ffb9b9 100%
  );
}

.blackButton {
  align-items: center;
  background-color: var(--black);
  border-radius: 16px;
  border: 1px solid transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  height: 60px;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 1.5em auto;
  padding: 18px 20px;
  transition: 200ms ease all;
  width: 320px;

  &:hover,
  &:focus {
    background-color: transparent;
    border: 1px solid var(--hot-pink);
    box-shadow: rgba(47 128 237 / 0.15) 0px 4px 8px 0px;
    color: var(--hot-pink);
    outline: none;
  }
}

.heartsWrapper {
  height: 402px;
  margin: auto;
  position: relative;
  width: 335px;

  & > div {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
}

.sendToHeart {
  height: 136.27px;
  left: 98px;
  position: absolute;
  top: 128px;
  transform: rotate(-7.74deg);
  width: 146px;
}

.sendFromHeart {
  height: 136.27px;
  left: 0px;
  position: absolute;
  top: 26px;
  transform: rotate(13.4deg);
  width: 146px;
}

.heart1 {
  height: 136.27px;
  left: 182px;
  position: absolute;
  transform: rotate(-13.19deg);
  width: 146px;
}

.heart2 {
  height: 136.27px;
  left: 5px;
  position: absolute;
  top: 235px;
  transform: rotate(10.15deg);
  width: 146px;
}

.heart3 {
  height: 136.27px;
  left: 188px;
  position: absolute;
  top: 246px;
  transform: rotate(-21.87deg);
  width: 146px;
}
